/* Bring in the Overwatch font */
@font-face {
    font-family: Overwatch;
    src: url(../fonts/big-noodle-too-oblique.woff);
}

body {
    font-family: Overwatch, Arial , Helvetica , sans-serif !important;
    letter-spacing: .03em;
    background: url("../images/bg-overwatch01.png");
}

#word-so-far, #guessed-letters {
   /* Space the game word and guessed letters apart
      to make it easier to read */
   letter-spacing: 1rem !important;
   text-transform: uppercase !important;
}